@using Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Store</h1>
    <p class="lead">@Html.Raw(Resources.homeDescription)</p>
    <p><a href="http://www.asp.net/mvc/tutorials/mvc-5/introduction/getting-started" class="btn btn-primary btn-large">@Resources.seeHere &raquo;</a></p>
</div>